.pio/
.pioenvs/
.piolibdeps/

.pio/libdeps/

.pio/libdeps

.vscode/
!.vscode/extensions.json    # boleh dicommit untuk rekomendasi extension tim

.idea/
*.iml
cmake-build-*/

.project
.cproject
.settings/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~

__pycache__/
*.py[cod]
*$py.class
*.pyc

*.log
serial_output.txt

secrets.h
credentials.h
config_secret.h

*.bak
*.orig
*.swp
*.swo
